body {
    background-color: whitesmoke;
}

.top {
    
    
    background-image: url("./img/background-4.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    font-stretch: wider 5px;

}

header h1 {
    display: flex;
    font-size: 40px;
    color: black;
    position: relative;
    justify-content: center;
    bottom: 20px;
    margin-right: 50px;
}

header nav {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 3;
    font-size: 20px;
    margin-left: 50px;
}

header ul {
    list-style-type: none;
    min-width: 486px;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

.picture {
    height: 50%;
    
}

    

.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 5px;
}

.content {
    display: flex;
    width: 75%;
    margin-bottom: 100px;
    padding: 30px;
    background-color: white;

    
   
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    align-items: center;

}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/background-4.webp");
    background-size: cover;
    flex-wrap: wrap;
}

div {
    background-image: url("./images/background-4.webp"); 
}

.content h1 {
    font-style: italic;
    font-size: 30px;
    font-stretch: wider 5px;

}


.header1 {
    min-width: 498px;
}



section nav {
    display: flex;
    flex-direction: row;
}
  


section .header3 {
    text-align: center;
    font-size: 30px;
    font-style: italic;

}

.contact-me li {
    padding: 20px;
}
    
.selfie{
   
    width: 200px;
    
    border-radius: 10px;
    padding: 30px;
    
}

.work {
    padding: 30px;
}



.project1 {
    width: 500px;
    padding: 50px;
    
}

.project3 {
   
    width: 500px;
    padding: 50px;
    

}

.project0 {
    width: 500px;
    padding: 50px;
  
}

.portfolio {
    width: 700px;
    padding: 50px;
  
}

.text {
   
    padding-top: 60px;
}

